*debug
*jou
*log
.Xil
vivado_*
8v3_shell/*
*dcp
!8v3_shell/static_routed_v2.dcp
*bit
!8v3_shell/acceleratorFlow_pr_pblock_pr_region_partial.bit
!8v3_shell/acceleratorFlow_pr_pblock_pr_region_partial_clear.bit
!8v3_shell/acceleratorNoPartition_pr_pblock_pr_region_partial.bit
!8v3_shell/acceleratorNoPartition_pr_pblock_pr_region_partial_clear.bit
!8v3_shell/accelerator_pr_pblock_pr_region_partial.bit
!8v3_shell/accelerator_pr_pblock_pr_region_partial_clear.bit
hw_accelerator
*_proj/*
!hls_proj/*.tcl
usage_statistics_webtalk.html
usage_statistics_webtalk.xml
hd_visual
*timing
office_data/
data/
*test_pr/
!*/script.tcl
!*/directives.tcl

#CMakeLists
*.user
build-vgg_16-Desktop-Debug/
